---
language: ruby

env:
  - DB=postgres
  - DB=mysql

rvm:
  - 2.2.5
  - 2.3.1

sudo: false
cache: bundler
before_script:
  - sh -e /etc/init.d/xvfb start
  - export DISPLAY=:99.0
  - bundle exec rake test_app
script:
  - bundle exec rspec spec
