<% if !current_user || !current_user.user_authentications %>
  <h2><%= t(:sign_in_through_one_of_these_services) %>:</h2>
<% end %>
<% AuthenticationMethod.where(:environment => ::Rails.env).each do |user| %>
  <%- img = Rails.application.assets.find_asset("store/social/#{user.preferred_provider}_32.png").present? ? "store/social/#{user.preferred_provider}_32.png" : "store/social/spree_32.png" -%>
  <%= link_to(image_tag(img, :size => "32x32", :alt => "#{user.preferred_provider}"), user_authentication_omniauth_authorize_path(user.preferred_provider.to_sym), :title => "#{t(:sign_in_with)} #{user.preferred_provider}") if user.active %>
<% end %>
