<% if !current_user || !current_user.user_authentications %>
  <h2><%= t(:sign_in_through_one_of_these_services) %>:</h2>
<% end %>
<% AuthenticationMethod.where(:environment => ::Rails.env).each do |user| %>
  <%= link_to(image_tag("social/#{user.preferred_provider}_32.png", :size => "32x32", :alt => "#{user.preferred_provider}"), user_authentication_omniauth_authorize_path(user.preferred_provider.to_sym), :title => t(:sign_in_with_provider, :provider => user.preferred_provider)) if user.active %>
<% end %>
