<% if !current_user || !current_user.user_authentications %>
  <h2>Sign in through one of these services:</h2>
<% end %>
<% AuthenticationMethod.where(:environment => RAILS_ENV).each do |user| %>
  <%= link_to(image_tag("social/#{user.preferred_provider}_32.png", :size => "32x32", :alt => "#{user.preferred_provider}"), user_authentication_omniauth_authorize_path(user.preferred_provider.to_sym)) %>
<% end %>
