<div id="social-signin-links">
  <% if (!spree_current_user || !spree_current_user.user_authentications) && Spree::AuthenticationMethod.active_authentication_methods? %>
    <h2><%= Spree.t(:sign_in_through_one_of_these_services) %>:</h2>
  <% end %>

  <% Spree::AuthenticationMethod.available_for(@spree_user).each do |method| %>
    <% img = "store/#{method.provider}_32.png" %>
    <%= link_to(image_tag(img, :size => "32x32", :alt => "#{method.provider}"), spree.spree_user_omniauth_authorize_url(provider: method.provider), :title => Spree.t(:sign_in_with, :provider => method.provider)) if method.active %>
  <% end %>
</div>
