<% if (!current_user || !current_user.user_authentications) && Spree::AuthenticationMethod.active_authentication_methods? %>
  <h2><%= t(:sign_in_through_one_of_these_services) %>:</h2>
<% end %>

<% Spree::AuthenticationMethod.available_for(@user).each do |method| %>
  <% img = "store/#{method.provider}_32.png" %>
  <%= link_to(image_tag(img, :size => "32x32", :alt => "#{method.provider}"), "http://#{Spree::Config[:site_url]}/users/auth/#{method.provider}", :title => t(:sign_in_with, :provider => method.provider)) if method.active %>
<% end %>
