<div id="existing-customer">
  <table>
    <tr>
      <% if user.email.match(/\b([a-zA-Z0-9._%+-]+)@(example.net)/) %>
        <%= render :partial => 'users/email_form', :locals => {:user => user, :omniauth => omniauth} %>
      <% else %>
      <td><%= t("email") %>:</td>
      <td>
        <%= user.email %>
      </td>
      <td><p><%= link_to t('edit'), edit_account_path %></p></td>
      <% end %>
    </tr>
  </table>